{include file='category/formstyle'}
<form action="{:sysuri()}" method="post" data-auto="true" class="layui-form layui-card" data-table-id="DataTable">

    <div class="layui-card-body padding-left-40">

        <div class="layui-row layui-col-space15">
            <div class="layui-col-xs2 text-center">
                <input type="hidden" name="icon" value="{:config(\'app.upload_base_url\')}{$vo.icon|default=''}">
                <script>$('[name="icon"]').selectButlerIcon();</script>
            </div>
            <div class="layui-col-xs10">
                <label class="block relative">
                    <span class="color-green font-w7">分类名称</span>
                    <span class="color-desc margin-left-5"></span>
                    <input name="name" value='{$vo.name|default=""}' required placeholder="请输入分类名称" class="layui-input">
                    <span class="help-block"><b>必填，</b>请填写分类名称，建议字符不要太长，一般2-6个汉字</span>
                </label>
            </div>
        </div>

        <label class="layui-form-item relative block">
            <span class="color-green font-w7">分类描述</span>
            <span class="color-desc margin-left-5"></span>
            <textarea class="layui-textarea" name="remark" placeholder="请输入分类描述">{$vo.remark|default=''}</textarea>
        </label>

    </div>

    <div class="hr-line-dashed"></div>

    {if empty($vo.id)}
    <input type='hidden' value='{$vo.user_id}' name='user_id'>
    {else}
    <input type='hidden' value='{$vo.id}' name='id'>
    {/if}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>取消编辑</button>
    </div>
</form>

{block name='script'}
<script>
    layui.form.render();
</script>
{/block}
