{extend name="../../admin/view/main"}

{block name='button'}
<!--{if auth("add")}-->
<button data-open='{:url("add")}?type_id={$type_id}' data-title="添加图标" class='layui-btn layui-btn-sm layui-btn-primary'>添加图标</button>
<!--{/if}-->

<!--{if auth("remove")}-->
<button data-action='{:url("remove")}' data-rule="id#{key}" data-confirm="确定要删除这些图标吗？" class='layui-btn layui-btn-sm layui-btn-primary'>删除图标</button>
<!--{/if}-->
{/block}

{block name='content'}
{include file='icon/indexstyle'}
<div class="layui-tab layui-tab-card table-block">
    <ul class="layui-tab-title notselect">
        {foreach $total as $k=>$v}{if isset($type_id) and $type_id eq $k}
        <li class="layui-this" data-open="{:url('index')}?type_id={$k}">
            <span>{$v.name}</span><sup class="layui-badge border-radius">{$v.count|default=0}</sup>
        </li>
        {else}
        <li data-open="{:url('index')}?type_id={$k}">
            <span>{$v.name}</span><sup class="layui-badge border-radius">{$v.count|default=0}</sup>
        </li>
        {/if}{/foreach}
    </ul>
    <div class="layui-tab-content table-block" id="IconList">
        <div class='icon-list-checkall think-checkbox'>
            <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'> 全选</label>
        </div>
        <ul class="icon-list">
        {foreach $list as $key=>$vo}
        <li class="icon-item">
            <div class='think-checkbox'>
                <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
            </div>
            <div class="headimg" data-tips-image data-lazy-src="{:config(\'app.upload_base_url\')}{$vo.url}"></div>
        </li>
        {/foreach}
        </ul>
        {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
    </div>
</div>
{/block}

{block name='script'}
<script>
    $(function () {
        $('#IconList').css({
            height: $('.layui-card-body').height() - 111,
            overflow: 'auto',
        });
    });
</script>
{/block}