<style>
    .butler-icon-select {
        margin-top: 6px;
    }
    .butler-icon-preview {
        width: 38px;
        height: 38px;
        padding: 3px;
        box-sizing: border-box;
    }

    .butler-icon-preview img {
        width: 100%;
        height: 100%;
        margin: 0;
        display: block;
    }

    .account-icon {
        width: 77px;
        height: 77px;
        cursor: pointer;
        position: relative;
        display: inline-block;
        border: 1px dashed #e2e2e2;
        background: url('') no-repeat center center;
        background-size: cover;
        border-radius: 50%;
    }

    .layui-input, .layui-select{
        margin: 1px 0;
    }
</style>
